{% extends "layout.html" %}
{% block body_content %}
	
<h1>flights page</h1>
<p>enter the details of your outbound flight</p>
<form action="", method="post">	
	{{ form.hidden_tag() }}
	<div class="form-group">
		{{ form.holiday1.label }}
		{{ form.holiday1 }}
		{% if form.holiday1.errors %}
			<div class="error">
				{% for error in form.holiday1.errors %}
				<span style="color: red;">{{ error }}; </span>
				{% endfor %}
			</div>
		{% endif %}
		
	</div>
	<br>
		<div class="form-group">
			<form action="/action_page.php">
				date:
				<input type="date" name="date1">
				{% if form.date1.errors %}
				<div class="error">
					{% for error in form.date1.errors %}
					 <span style="color: red;">{{ error }}</span>
					{% endfor %}
				</div>
				{% endif %}
		</div>
		<br>
		<div class="form-group">
			{{ form.depart.label }}
			{{ form.depart }}
			{% if form.depart.errors %}
			<div class="error">
				{% for error in form.depart.errors %}
				 <span style="color: red;">{{ error }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<br>
		<div class="form-group">
			<form action="/action_page.php">
				time:
				<input type="time" name="time_d">
		</div>
		<br>
		<div class="form-group">
			{{ form.arrive.label }}
			{{ form.arrive }}
			{% if form.arrive.errors %}
			<div class="error">
				{% for error in form.arrive.errors %}
					 <span style="color: red;">{{ error }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<br>
		<div class="form-group">
			<form action="/action_page.php">
				time of arrival:
				<input type="time" name="time_a">
		</div>
		<br>
		<div class="form-group">
			<div class="form-group">
			<form action="/action_page.php">
				time of arrival (local):
				<input type="time" name="time_a_l">
		</div>
		<br>


		<p>enter the details of your inbound flight</p>
		<div class="form-group">
				date:
				<input type="date" name="date2">
				{% if form.date2.errors %}
				<div class="error">
					{% for error in form.date2.errors %}
					 <span style="color: red;">{{ error }}</span>
					{% endfor %}
				</div>
				{% endif %}
		</div>
		<br>
		<div class="form-group">
			{{ form.depart1.label }}
			{{ form.depart1 }}
			{% if form.depart1.errors %}
			<div class="error">
				{% for error in form.depart1.errors %}
				 <span style="color: red;">{{ error }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<br>
		<div class="form-group">
			<form action="/action_page.php">
				time:
				<input type="time" name="time_d1">
		</div>
		<br>
		<div class="form-group">
			{{ form.arrive1.label }}
			{{ form.arrive1 }}
			{% if form.arrive1.errors %}
			<div class="error">
				{% for error in form.arrive1.errors %}
					 <span style="color: red;">{{ error }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<br>
		<div class="form-group">
			<form action="/action_page.php">
				time of arrival:
				<input type="time" name="time_a1">
		</div>
		<br>
		<div class="form-group">
			<div class="form-group">
			<form action="/action_page.php">
				time of arrival (local):
				<input type="time" name="time_a_l1">
		</div>
		<br>
		{{ form.submit }}
	</form>
</div>

{% endblock body_content %}